@use "../components/__breakpoints" as b;
@use "sass:map";
.gens-tnl {
  &__gens {
    display: flex;
    flex-wrap: wrap;

    &_left,
    &_right {
      flex: 1 1 100%;
      padding: 24px;
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        padding: 48px;
      }
    }
    &_left {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      background: linear-gradient(
        150deg,
        rgba(21, 70, 122, 1) 0%,
        rgba(21, 70, 122, 1) 50%,
        rgba(0, 212, 255, 1) 100%
      );
      img {
        max-width: 100px;
        margin-bottom: 16px;
      }
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        max-width: calc(25% - 8px);
        border-top-right-radius: 0px;
        border-bottom-left-radius: 24px;
      }
    }
    &_right {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      background: #f2f9ff;
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 24px;
        max-width: calc(75% - 8px);
      }
    }
  }
}
