:root {
  //Fonts
  --inter: "Inter", sans-serif;

  //Colors
  --black: #000;
  --white: #fff;
  --primary-100: #18bce5;
  --primary-90: #46cbec;
  --secondary-100: #13467b;
  --secondary-90: #195a9f;
  --supporting-10: #f2f9ff;
  //text
  --text-60: #7390af;
  --text-100: #021737;
}
