@use "./__breakpoints" as b;
@use "sass:map";
@use "./heading";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-navigation {
  margin-left: auto;
}
.header__nav ul {
  display: flex;
  gap: 20px;
}
html,
body {
  height: 100%;
  font-family: var(--inter);
  width: 100%;
  position: relative;
  margin: 0;
  font-weight: 400;
  color: var(--supporting-20);
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 15px;
  @media (min-width: map.get(b.$grid-breakpoints, lg)) {
    font-size: 16px;
  }
  section {
    margin: 24px 0 36px;
    padding: 10px 0;
    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      padding: 16px 0px;
    }
  }
  p {
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .button-tnl {
    background-color: var(--primary-100);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--white);
    &:hover {
      background-color: var(--primary-90);
    }
  }

  .ec-v-form-holder.ec-v-form-holder-basic {
    max-width: 100% !important;
  }
}

.fixed-page {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1 1 100%;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    max-width: 720px;
    padding: 0 30px;
  }

  @media (min-width: map.get(b.$grid-breakpoints, lg)) {
    max-width: 950px;
  }

  @media (min-width: map.get(b.$grid-breakpoints, xl)) {
    max-width: 1200px;
  }

  @media (min-width: map.get(b.$grid-breakpoints, xxl)) {
    max-width: 1400px;
  }
}

ul {
  // list-style: none;
}

button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 1rem;
}

.xoo-wsc-modal {
  .xoo-wsc-container {
    right: -100%;
    border-top-left-radius: 10px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    max-width: 500px;
    padding: 20px;
  }
}
.xoo-wsc-basket {
  &,
  &[style*="block"] {
    display: none !important;
  }
}

.xoo-wsc-modal {
  &.xoo-wsc-cart-active {
    .xoo-wsc-container {
      right: 0px;

      .xoo-wsc-header {
        border: none;

        .xoo-wsch-top {
          display: flex;
          flex-direction: column;
        }
      }

      .xoo-wsc-body {
        background-color: var(--white);
        .xoo-wsc-product {
          box-shadow: none;
          border-radius: 0;
          .xoo-wsc-img-col {
            flex: 1 1 20%;
            a {
              display: flex;
              border-radius: 20px;
              overflow: hidden;
              max-width: 90px;
            }
          }

          .xoo-wsc-pname {
            a {
              color: var(--text-100);
              font-size: 15px;
            }
          }

          .xoo-wsc-qty-price {
            font-size: 14px;
            .woocommerce-Price-amount.amount {
              font-size: 14px;
              bdi {
                color: var(--text-100);
              }
            }
          }
        }

        .xoo-wsc-empty-cart {
          .xoo-wsc-btn {
            border-radius: 50px;
            transition: 0.35s;
            background-color: var(--secondary-100);
            border: none;
            @media (hover: hover) {
              &:hover {
                color: var(--white);
              }
            }
          }
        }
      }

      .xoo-wsc-footer {
        box-shadow: none;

        .xoo-wsc-ft-totals {
          .xoo-wsc-ft-amt.xoo-wsc-ft-amt-subtotal {
            display: flex;
            span {
              color: var(--text-100);
              font-size: 25px;
              font-weight: 600;
            }
          }
        }

        .xoo-wsc-ft-buttons-cont {
          grid-row-gap: 15px;
          a {
            border-radius: 10px;
            text-transform: uppercase;
            font-size: 15px;
            transition: 0.35s;
            font-weight: 600;

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-cart {
              background: transparent;
              color: var(--secondary-100);
              border: 1px solid var(--secondary-100);
              @media (hover: hover) {
                &:hover {
                  color: var(--white);
                  background-color: var(--secondary-100);
                }
              }
            }

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
              background: var(--primary-100);
              border: 1px solid var(--primary-90);
              color: var(--white);
              @media (hover: hover) {
                &:hover {
                  background: var(--primary-90);
                }
              }
            }

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-cart,
            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
              // border: 0;
              // @media (hover: hover) {
              //   &:hover {
              //     border: 0;
              //   }
              // }
            }
          }
        }
      }
    }
  }
}
