@use "./../components/_breakpoints" as b;
@use "sass:map";
.error {
  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    padding: 200px 0;
  }
  &_content-title {
    color: var(--text-100);
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  &_number {
    color: var(--primary-100);
    font-size: 100px;
    line-height: 1.1;
    font-weight: 700;
  }
}

.e404 {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
  }
}
