@use "../sass/components/_breakpoints" as b;
@use "sass:map";
.tiles-tnl {
  &__title {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
  &__tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    .tile {
      -webkit-box-shadow: 2px 2px 8px -6px rgba(0, 29, 58, 0.7);
      -moz-box-shadow: 2px 2px 8px -6px rgba(0, 29, 58, 0.7);
      box-shadow: 2px 2px 8px -6px rgba(0, 29, 58, 0.7);
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      @media (max-width: map.get(b.$grid-breakpoints, sm)) {
        img {
          width: 100%;
        }
      }
      @media (min-width: map.get(b.$grid-breakpoints, sm)) {
        max-width: calc((100% / 2) - 16px);
      }
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        max-width: calc((100% / 3) - 16px);
      }
      &__content {
        padding: 30px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        flex: 1 1 100%;
        &_title {
          font-weight: 600;
          color: var(--black);
          font-size: 20px;
          @media (min-width: map.get(b.$grid-breakpoints, lg)) {
            font-size: 24px;
          }
        }
        .button-tnl {
          max-width: 120px;
          margin-top: auto;
          text-align: center;
        }
      }
    }
  }
}
