.tnl-content-items {
  padding: 32px 0;
  // @media (min-width: 1024px) {
  //   padding: 64px 0;
  // }

  .container {
    &.gradient {
      border-radius: 16px;
      padding: 32px 20px;
      @media (min-width: 1024px) {
        padding: 64px 0;
      }
      .tnl-content-items__bottom {
        gap: 20px;
        @media (min-width: 1024px) {
          gap: 40px;
        }
      }
      .item {
        max-width: 257px;
        border: 1px solid #fff;
        box-shadow: none;
        &__title,
        &__description {
          color: #fff;
        }
      }
    }
  }

  &__top {
    margin-bottom: 24px;
    max-width: 855px;
    margin: 0 auto;
    margin-bottom: 24px;
    &_title {
      margin-bottom: 16px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 42px;
      &_title {
        margin-bottom: 24px;
      }
    }
  }
  &__bottom {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    &,
    .item {
      display: flex;
    }
    .item {
      flex: 1 1 100%;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      box-shadow: 0px 4px 8px 0px rgba(0, 29, 58, 0.1);
      border-radius: 16px;
      padding: 32px 24px 48px;
      @media (min-width: 567px) {
        max-width: calc((100% / 2) - 14px);
      }
      &.col-3 {
        @media (min-width: 1024px) {
          max-width: calc((100% / 3) - 16px);
        }
      }
      &.col-4 {
        @media (min-width: 1024px) {
          max-width: calc((100% / 4) - 16px);
        }
      }
      &__title {
        font-weight: 600;
        font-size: 24px;
        color: #13467b;
        text-align: center;
      }
      &__description {
        max-width: 255px;
        text-align: center;
      }
    }
  }
}
